<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ee.ioc.phon.android.arvutaja"
    android:versionCode="506"
    android:versionName="0.5.06" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/labelApp"
        android:theme="@style/LightTheme" >
        <activity
            android:name=".ArvutajaActivity"
            android:label="@string/labelApp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExamplesActivity"
            android:label="@string/labelExamples" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/labelSettings" >
        </activity>

        <provider
            android:name=".provider.QueriesContentProvider"
            android:authorities="ee.ioc.phon.android.arvutaja.provider.QueriesContentProvider"
            android:exported="false" />

        <receiver
            android:name=".provider.ArvutajaAppWidgetProvider"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>
    </application>

</manifest>
