<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ee.ioc.phon.android.unitconv"
    android:versionCode="101"
    android:versionName="0.1.01" >

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/labelApp" >
        <activity
            android:label="@string/labelApp"
            android:name=".Unitconv" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/labelPreferences"
            android:name=".Preferences" >
        </activity>

        <provider
            android:authorities="ee.ioc.phon.android.unitconv.provider.QueriesContentProvider"
            android:name=".provider.QueriesContentProvider" />
    </application>

</manifest>