<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="ee.ioc.phon.android.unitconv"
	android:versionCode="100"
	android:versionName="0.1.00">
	<application
		android:icon="@drawable/ic_launcher"
		android:label="@string/labelApp">

        <activity
			android:name=".Unitconv"
			android:label="@string/labelApp">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".Preferences"
			android:label="@string/labelPreferences">
		</activity>
		
		<provider
			android:name=".provider.QueriesContentProvider"
			android:authorities="ee.ioc.phon.android.unitconv.provider.QueriesContentProvider" />
	</application>
</manifest>
